/* General Styles */

body {
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}

/* Navbar */

nav {    
    text-align: center;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav div {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background: #73000a;
}

nav a {
    color: white;
    margin: 5px 20px;    
}

/* Welcome Section  */

#welcome-section {
    display: grid;
    grid-template-columns: 55% 45%;
    justify-items: end;
    align-content: center;
    height: 100vh;
    animation: intro-back 2s ease-out 1s 1 normal forwards;
    background: #73000a;
}

#hello-world {
    display: flex;
    flex-direction: column;
}

#hello-world h1 {
    font-size: 9vw;
}

#hello-world h2 {
    font-size: 7vw;
}

#hello-world h3 {
    font-size: 5vw;
}

#all {
    color: #73000a;
}

.red {
    color: #73000a;
}

#green {
    color: #65780B;
}

#hello-world h1, h2, h3 {
    color: #000;
    margin: 0 20px;
    text-align: end;
}

@keyframes intro-back {
    from {
        background: #73000a;
    }
    to {
        background: #fff;
    }
}

/* Projects Grid */

#projects {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 85%;
}

.card {
    /* display: flex; */
    background: white;
    border: 1px solid #1F414D;
    padding: 130px;
    margin: 10px;
    height: 100px;
    width: 25vw;
    box-shadow: 0px 5px 5px #C7C7C7;
}

/* Contact Section */

#contact {
    background: khaki;
    height: 25vh;
    margin: 0 auto;
}

#contact h1 {
    text-align: center;
    margin: 3em 3em;
}

#contacts {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
}

.fab {
    color: black;
    ;
}