/* General Styles */

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #73000a;
}

nav a {
    color: white;
}

/* Welcome Section  */

#welcome-section {
    display: grid;
    grid-template-columns: 55% 45%;
    justify-items: end;
    align-content: center;
    height: 100vh;
    animation: intro-back 2s ease-out 1s 1 normal forwards;
    background: #73000a;
}

#hello-world {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 9vw;
}

h2 {
    font-size: 7vw;
}

h3 {
    font-size: 5vw;
}

#all {
    color: #73000a;
}

.red {
    color: #73000a;
}

#green {
    color: #65780B;
}

h1, h2, h3 {
    color: #000;
    margin: 0 20px;
    text-align: end;
}

@keyframes intro-back {
    from {
        background: #73000a;
    }
    to {
        background: #fff;
    }
}

/* Projects Grid */

#projects {
    background: wheat;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background: #1F414D;
    padding: 130px;
    margin: 20px;
    height: 25vh;
}

#about {
    background: khaki;
    height: 25vh;
}