/* REMINDER: declaration ordering: */
/* Position */
/* Display & Box Model */
/* Other */

/* --GENERAL STYLES-- */

body {
/* Position */

/* Display & Box Model */
    margin: 0 auto;
    width: 100%;

/* Other */
    font-family: Arial, Helvetica, sans-serif

}

/* --NAVBAR-- */

nav {
/* Position */
    position: fixed;
    z-index: 2;
/* Display & Box Model */
    display: flex;
    justify-content: center;    
    margin: 0 auto;
    width: 100%;
    height: 7%;
    opacity: 0;
/* Other */
    text-align: center;    
    animation: nav .5s linear 4s normal forwards;;
    
}

@media screen and (max-width: 600px) {
    nav {
        bottom: 0;
        height: 10%
    }
}

nav div {
/* Position */
    position: relative;
/* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
/* Other */    
    list-style-type: none;
    background: #73000a;    
}

nav a {
    margin: 5px 20px; 
    color: white; 
}

/* Welcome Section  */

#welcome-section {
    height: 110vh;
}

#hello-world {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5vw;
    height: 90%;
    justify-content: center;
}

#hello-world h1 {
    font-size: 9vw;
    color: #73000a;
}

#hello-world h2 {
    font-size: 7vw;
}

#hello-world h3 {
    font-size: 5vw;
}

#name {
    margin: 7vh 0 7vh 0;
    white-space: nowrap;
}

#matt {
    background-color: #73000a;
    padding: 2rem .5rem;
    /* border-radius: 3%; */
    animation: intro-matt .1s linear 3s normal forwards;
}


#all {margin-left: -2vw;}

#red {
    margin-left: 2.5vw;
    overflow: visible;
    animation: intro-allred 2s ease 1s 1 normal forwards;
}

.hello-filler {
    animation: intro-filler .5s linear 4s normal forwards;
    color: white;
    padding-left: 2vw;
}

#green {
        animation: intro-green 2s linear 4s normal forwards;
    color: white;
}

#hello-world h1, h2, h3 {
    margin: 0 10vw;
    text-align: left;
}

@keyframes intro-allred {
    from {margin-left: 2.5vw;}
    to {margin-left: -2.5vw;}
}

@keyframes intro-matt {
    from {color: #73000a;}
    to {color: white;}
}

@keyframes intro-filler {
    from {
        color: white;
        padding-left: 2vw;
        }
    to {
        color: black;
        padding-left: 0;}
}

@keyframes intro-green {
    0% {color: white;}
    25% {color: black;}
    75% {color: black;}
    100% {color: #65780B;}
}

@keyframes nav {
    from {opacity: 0;}
    to {opacity: 1;}
} 

/* About Me */

#about {
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

#pablum {
    margin: 0 10vw 0 10vw;
    max-width: 500px;
    align-items: center;
    text-align: center;
}

#skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Projects Grid */

#projects {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(199,199,199,1) 10%, rgba(162,162,162,1) 90%, rgba(255,255,255,1) 100%); 
    display: flex;
    justify-content: center;
    width: 100%;
}

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
    margin: 25vh auto;
    z-index: 1;
}

.card {
    /* display: flex; */
    background: #73000a;    
    margin: 20px;
    height: 400px;
    max-width: 400px;
    min-width: 300px;
    box-shadow: 0px 5px 5px #000;
    text-align: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s ease;
}

.preview {
    position: relative;
}

.context {
    background-color: #1F414D;
    position: absolute;
    width: 150px; 
    top: 50%;
    left: 50%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 55px;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}

.text {
    color: white;
    padding: 10px;
}

.preview:hover .image, .preview:active .image {
    opacity: 0.3;
}

.preview:hover .context, .preview:active .context {
    opacity: 1;
}

.source {
    display: flex;
    justify-content: space-around;
}

.project-about {
    display: flex;
    flex-direction: column;
}

.card a {
    color: white;
    text-decoration: none;
}

.card p {
    padding: 7px;
}

/* Contact Section */

#contact {
    background: black;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contact h1 {
    text-align: center;
    margin: 5vh 5vw;
    color: white;
}

#contacts {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
}

#contact i {
    color: white;
    ;
}
