/* User Story #9: My portfolio should have at least one media query.
User Story #10: The height of the welcome section should be equal to the height of the viewport.
User Story #11: The navbar should always be at the top of the viewport. */
body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #73000a;
}

nav a {
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #73000a;
    transition: background linear 2s;
    justify-content: center;
    align-items: center;
}

#welcome-section:hover {
    background: #fff;
    transition-duration: 1s;
    transition-delay: 1s;
}

#welcome-section h1, h3 {
    color: #73000a
}

#projects {
    background: wheat;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background: #1F414D;
}

#about {
    background: khaki;
    height: 25vh;
}